<div class="container text-center">    
    <div class="col-sm-8">
      <div class="row">
<!-- ---------------------------------------- AVATAR + NOM ----------------------- -->
		<% if @event.attandances.blank? %>
		    <div class="col-sm-12">
	          <div class="well">
	            <h2 class="h4 mb-3 font-weight-normal text-center">Aucun inscrit :(</h2><br>
	          
	            <hr class="my-0">
	          </div>
	        </div>

		<% else %>
	        <div class="col-sm-12">
	          <div class="panel panel-default">
	            <div class="panel-body">
		            <h2 class="h2 mb-3 font-weight-normal text-center"><%= @event.attandances.size %> inscrits :</h2>
	            </div>
	          </div>
	        </div>
		
			<% @event.attandances.map{|attandance| attandance.user}.each do |user| %>
		        <div class="col-sm-12">
		          <div class="well">
		            <h2 class="h4 mb-3 font-weight-normal text-center"><%= user.full_name %></h2>
		            <hr class="my-0">
		            <p class='text-center'><%= user.email %></p>
		            <hr class="my-0">
		          </div>
		        </div>
			<% end %>
		<% end %>
      </div>
    </div>

  	<div class="col-sm-4 well">
	      <div class="thumbnail">
	        <p><strong><%= @event.title %></strong></p>
	        <%if @event.event_picture.attached?%>
	        	<%= image_tag @event.event_picture, alt: 'Event pic', width: 400 %><br>
	        <%else%>
	       		<%= image_tag("img.png", width: 400, alt: "Lyon", class: "img-circle") %>
	        <p>=== Il n'y a pas encore de photo liée à cet event ===</p>
	        <% end %>
	        
	        
	        <%= link_to "Editer mon event", edit_event_path(@event.id), class: "btn btn-lg btn-primary btn-block" %><br>
			<hr>
	        <h1 class="h3 mb-3 font-weight-normal text-center">Add a picture to your event</h1>
	        <hr>
					   			<%= form_tag event_event_pictures_path(@event), multipart: true do %>
					   				<%= file_field_tag :event_picture %><br>
					   			<%= submit_tag "Upload", class: "btn btn-lg btn-primary btn-block" %><br><br><br>
					   			<% end %>
	      </div>      
	</div>
</div>


