<% provide(:title, 'Reservation') %>


<div class="container text-center">    
    <div class="col-sm-12">
<!-- -------------------------FIN PROFILE ------------------------------- -->
    
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <h2 class="h1 mb-3 font-weight-normal text-center"><%= @event.title %></h2>  
              <p><%= @event.location %>, Lyon, France</p>
            </div>
          </div>
        </div>
      </div>
<!-- ---------------------------------------- FIN STATUS ----------------------- -->
      <div class="row mr-auto">
	        <div class="well">
	          	<div class="col-sm-8">
					<%= image_tag("bird.jpg", alt: "Avatar") %>
				</div>
				<div class="col-sm-4">
			        <h2 class="h4 mb-3 font-weight-normal text-center"><%= @event.description %></h2><br>
			        <hr class="my-0">
			        <hr class="my-0"><br>
				    <p>Le <%= @event.date %> de <%= @event.hour %> a <%=@event.end_date_hour %></p>
				    <hr class="my-0">
				    <hr class="my-0"><br>
				    <p>Tarif : <%= @event.price %>€</p>
				    <hr class="my-0">
				    <hr class="my-0"><br>
				    <p>Organise par : <%= @event.admin.first_name %><br><%= @event.admin.email %></p>
				</div>
				<br>
				<% if @event.is_free %>
					<div class="col-sm-12 align-self-center">
						<div class='col-sm-3'>
						</div>
						<div class="col-sm-6">
					      <%= form_tag event_attandances_path do %>
						      <h1 class="h4 mb-3 font-weight-normal text-center">Attend this event</h1>
					      <%= button_to "Make a reservation", event_attandances_path, method: :create, class: "btn btn-lg btn-primary btn-block" %>
					      <%= link_to "Back", :back %><br><br><br>
							<% end %>

					</div>
				<% else %>
					<% unless @usersattandances.include?(current_user) || @event.admin == current_user  %>
						<div class="col-sm-12">
							<h2 class="h4 mb-3 font-weight-normal text-center">Reservation pour 1 personne :</h2>  
							<%= form_tag event_attandances_path do %>
							<article>
								<% if flash[:error].present? %>
								<div id="error_explanation">
									<p><%= flash[:error] %></p>
								</div>
								<% end %>
								<label class="amount">
									<span>Amount: <%= @amount/100 %>$</span>
								</label>
							</article>

							<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
							data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
							data-description="Event entry"
							data-amount="<%= @amount %>"
							data-locale="auto"></script>
							<% end %><br>
							<%= link_to "Back", :back %><br><br><br>
						</div>
					<% else %>
					<p>Evenement deja reserve!</p>
					<% end %>
				<% end %>
	        </div>
	   </div> 
    </div>
</div>