<% provide(:title, 'Show event') %>


<div class="container text-center">    
    <div class="col-sm-12">
<!-- -------------------------FIN PROFILE ------------------------------- -->
    
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <h2 class="h1 mb-3 font-weight-normal text-center"><%= @event.title %></h2>  
              <p><%= @event.location %>, Lyon, France</p>
            </div>
          </div>
        </div>
      </div>
<!-- ---------------------------------------- FIN STATUS ----------------------- -->
      <div class="row mr-auto">
	          <div class="well">
	          	<div class="col-sm-8">
					<%= image_tag("bird.jpg", alt: "Avatar") %>
				</div>
				<div class="col-sm-4">
			            <h2 class="h4 mb-3 font-weight-normal text-center"><%= @event.description %></h2><br>
			            <hr class="my-0">
			            <hr class="my-0"><br>
			    <p>Le <%= @event.start_date.to_s[0..-13] %>, duree : <%= @event.duration %> minutes</p>
			    <hr class="my-0">
			    <hr class="my-0"><br>
			    <p>Tarif : <%= @event.price %>€</p>
			    <hr class="my-0">
			    <hr class="my-0"><br>
			    <p>Organise par : <%= @event.admin.first_name %><br>
			    <%= @event.admin.email %></p>
				</div>
				<div class="col-sm-12">
				    <hr class="my-0">
				    <hr class="my-0"><br>
				    	<div class='d-flex justify-content-between align-items-center'>
				    		<div><h2 class="h4 mb-3 font-weight-normal text-center"><%= @event.attandances.size %> INSCRITS !</h2></div>
					   		<div><%= link_to "Reserver", event_path(@event.id), class:"btn btn-primary btn-lg" %></p></div>
					   	</div>
					<hr class="my-0">
				    <hr class="my-0"><br>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a finibus nunc, at dictum dolor. Integer iaculis sapien nulla, ac eleifend leo faucibus et. Maecenas dapibus est sed justo iaculis, quis placerat nunc ultricies. Donec sollicitudin nulla sit amet leo mollis, aliquet condimentum diam auctor. Proin sed felis tempus, mollis erat a, iaculis nisl. Mauris quis rutrum urna. Sed interdum lorem at diam sodales faucibus. Donec sapien nisi, ultrices ac est sit amet, pharetra cursus nibh. Etiam in cursus nisi. Nulla eu eros nec ante aliquet sagittis. Donec bibendum, neque rutrum sollicitudin ultricies, arcu velit condimentum augue, eu vestibulum leo sapien eleifend enim. Cras nec suscipit dolor. Etiam lobortis blandit tortor ac condimentum. Proin scelerisque, tellus vel fermentum vehicula, nibh dui sollicitudin ipsum, in ultricies sapien mauris a purus. Phasellus consectetur congue massa, nec tincidunt odio mattis quis.

					Nullam semper ligula eu arcu vulputate, eu rutrum justo ultrices. Donec ac metus vel est fermentum faucibus sit amet vel metus. Aenean quis lectus ac nunc efficitur viverra vitae laoreet lacus. Sed nec lectus id tellus varius eleifend sed non tortor. Maecenas a lorem non augue sagittis blandit. Fusce vulputate magna nisi, vel malesuada orci commodo at. Vestibulum elementum ex vitae maximus vestibulum. Curabitur placerat ac nisl at vehicula. Suspendisse potenti. Mauris vestibulum lacus dolor, sit amet dapibus justo pellentesque sit amet. Sed bibendum urna sed quam sagittis placerat. Quisque mi orci, molestie eu massa consectetur, vulputate accumsan tortor. Donec nec ligula massa. Nulla non porta eros. </p>
					<hr class="my-0">
				    <hr class="my-0"><br>
				    <span class='d-flex justify-content-end'>
				    <%= image_tag("facebook.png", alt: "Facebook") %>
				    <%= image_tag("favicon.jpg", alt: "Facebook") %>
				    <%= image_tag("twitter.png", alt: "twitter") %>
				    <%= image_tag("flickr.png", alt: "Flickr") %>
				    <%= image_tag("vimeo.png", alt: "Vimeo") %>
				    <%= image_tag("rss.png", alt: "rss") %>
				   	</span>
				</div>
	          </div>
	   </div>
    </div>
<!-- ---------------------------------------- FIN DESCRIPTION ----------------------- -->
<!-- --------------------------- EVENT ------------------------------------ -->

  
</div>